#joinnow{
  color: white;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(../images/puppylove.png);
    background-position: 0% 10%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    border-color: black;
    opacity: .75;}

#p1 {
margin-top: 25px;
}
body {
  width: 960px;
  margin: auto;
  font-family: 'Coming Soon', helvetica neue, arial, sans-serif;
  color: black;
  background-color: lightblue;
/*  background-image: url(../images/puppylove.png);*/
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}