body {
  width: 960px;
  margin: auto;
  font-family: 'Coming Soon', helvetica neue, arial, sans-serif;
  color: white;
  background-color: black;
  /*background-image: url(../images/suits.png);*/
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
h2 {
  border-bottom: 25px solid gray;
  /*border-left: 10px solid white;*/
}
a { 
  color: orange;
}
a:hover {
  color: purple;
}
p, li { 
  font-size: 16px;
  line-height: 24px;
}
img {
  float: right;
}
#title {
  float: left;
}
#poster {
  overflow: hidden;
  <img style=border:5px red>
 
}
#summary {
  clear: both;
  background-color: gray;
  padding: 20px;
  border: 1px solid black;
  margin-top: 20px;
}